// Card Animations
@keyframes pulsingBorder {
  0% {
    border-top-width: 1px;
    border-top-color: $text-muted;
    border-right-width: 1px;
    border-right-color: $text-muted;
    border-bottom-width: 1px;
    border-bottom-color: $text-muted;
    border-left-width: 1px;
    border-left-color: $text-muted;
    transform: scale(1.03);
  }
  50% {
    border-top-width: 5px;
    border-top-color: $text-bold;
    border-right-width: 5px;
    border-right-color: $text-bold;
    border-bottom-width: 5px;
    border-bottom-color: $text-bold;
    border-left-width: 5px;
    border-left-color: $text-bold;
    transform: scale(.97);
  }
  100% {
    border-top-width: 1px;
    border-top-color: $text-muted;
    border-right-width: 1px;
    border-right-color: $text-muted;
    border-bottom-width: 1px;
    border-bottom-color: $text-muted;
    border-left-width: 1px;
    border-left-color: $text-muted;
    transform: scale(1.03);
  }
}
@keyframes coloredBorder {
  0% {
    border-top-color: $text-muted;
    border-right-color: $text-muted;
    border-bottom-color: $text-muted;
    border-left-color: $text-muted;
  }
  25% {
    border-top-color: $text-bold;
    border-right-color: $text-bold;
    border-bottom-color: $text-bold;
    border-left-color: $text-bold;
  }
  50% {
    border-top-color: $text-muted;
    border-right-color: $text-muted;
    border-bottom-color: $text-muted;
    border-left-color: $text-muted;
  }
  75% {
    border-top-color: $text-bold;
    border-right-color: $text-bold;
    border-bottom-color: $text-bold;
    border-left-color: $text-bold;
  }
  100% {
    border-top-color: $text-muted;
    border-right-color: $text-muted;
    border-bottom-color: $text-muted;
    border-left-color: $text-muted;
  }
}

// My Card
.my-card {
  @include background-radial-gradient(ellipse, farthest-side, 10%, 0,
          $bg-gradient-color-1 20%, $bg-gradient-color-2
  );
  @include elevation-3;
  @include elevation-hover;
  margin: 2rem 0 2rem 0;

  &.pulsing {
    border-style: solid;
    animation: coloredBorder 6s infinite ease-in;
  }

  .card-header {
    @include make-container;
    color: $text-bold;
    font-weight: $font-weight-bold;

    h1, h2, h3, h4, h5, a {
      color: $text-bold;
      font-weight: $font-weight-bold;
    }

    &.nav-card {
      padding: 0;

      .nav-item {
        padding: .75rem 0;
        background: rgba(0, 0, 0, .15);

        &.active {
          background: transparent;
        }
      }
    }
  }
}