.vertical-divider {
  height: 320px;
  width: 30px;
  background: url('/assets/img/glowing-divider.png') center center no-repeat;
}
.duration-15 {
  animation-duration: 1.5s;
}
.duration-2 {
  animation-duration: 2s;
}
.duration-25 {
  animation-duration: 2.25s;
}

.lead {
  color: $text-bold
}